@model ScheduleLNU.DataAccess.Entities.Theme;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = $"Theme {Model.Title}";
}

<link rel="stylesheet" href=~/css/base.css/>

 <form method="post">
    <label for="title">Title</label>
    <input type="text" name="Title" value="@Model.Title"><br /> 
    <label for="foreColor">ForeColor</label>
    <input type="color" name="ForeColor" value="@Model.ForeColor"><br />
    <label for="backColor">BackColor</label>
    <input type="color" name="BackColor" value="@Model.BackColor"><br />
    <label for="font">Font</label>
    <input type="text" name="Font" value="@Model.Font"><br />
    <label for="font">Font size</label>
    <input type="number" name="FontSize" value="@Model.FontSize"><br />
    <button asp-action="AddTheme" 
            asp-area="settings" 
            asp-controller="ThemeSettings"  
            type="submit">Save</button>
</form>